{%extends 'base.html'%}

{%block main%}
<div>
    {%if session['name'] == 'admin'%}
    <h1>Add Discount Code</h1>
    <form action="{{url_for('add_fee', feetype='discount')}}" method="POST">
        {{form.csrf_token}}
        <fieldset class="form-group">
            {{form.discount.label}}
            {{form.discount(class='form-control')}}
        </fieldset>
        <fieldset class="form-group">
            {{form.amount.label}}
            {{form.amount(class='form-control', placeholder='Format x.xx')}}
        </fieldset>
        <button value='discount' class='btn btn-warning btn-block'>Add Discount</button>
    </form>
    <br>
    {%if discounts|length%}
    <h3 style='text-align: center;'>Discount Codes</h3>
    <table id="shopping-cart">
        <thead>
            <tr>
                <th>Discount Code</th>
                <th colspan="2">Amount</th>
            </tr>
        </thead>
        <tbody>
            {%for data in discounts%}
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.amount|float * 100}}%</td>
                <td><a href="{{url_for('updateFee',id=data.id)}}" class="update">Update</a>
                    <a href="{{url_for('removeFee',id=data.id)}}" class="remove">Remove</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%else%}
    <p>There are no discounts to be displayed.</p>
    {%endif%}
</div>
<hr>
<div>
    <h1>Add a Delivery Fee</h1>
    <form action="{{url_for('add_fee',feetype='location')}}" method="POST">
        {{l_form.csrf_token}}
        <fieldset class='form-group'>
            {{l_form.delivery.label}}
            {{l_form.delivery(class='form-control')}}
        </fieldset>
        <fieldset class='form-group'>
            {{l_form.amount.label}}
            {{l_form.amount(class='form-control')}}
        </fieldset>
        <fieldset class='form-group'>
            <label for="deliveryTime">Delivery Times</label>
            <select name='deliveryTime' class="browser-default custom-select">
                <option value='1'>2 - 3 Days</option>
                <option value='2'>3 - 5 Days</option>
            </select>
        </fieldset>
        <button value='delivery' class='btn btn-warning btn-block'>Add Delivery Fee</button>
    </form>
    <br>
    {%if delivery|length%}
    <h3 style='text-align: center;'>Delivery Fees</h3>
    <table id="shopping-cart">
        <thead>
            <tr>
                <th>Delivery Location</th>
                <th>Amount</th>
                <th>Delivery Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
                {%for data in delivery%}
                <tr>
                    <td>{{data.name}}</td>
                    <td>{{"${:,.2f}".format(data.amount)}}</td>
                    <td>{%if data.deliveryTime==1%}2-3 Days{%else%} 3-5 Days{%endif%}</td>
                    <td><a href="{{url_for('updateFee',id=data.id)}}" class='update'>Update</a>
                        <a href="{{url_for('removeFee',id=data.id)}}" class='remove'>Remove</a></td>
                </tr>
                {%endfor%}
            
        </tbody>
    </table>
    {%else%}
    <p>There are no Delivery Fees to be displayed.</p>
    {%endif%}
</div>
{%else%}
<h1>Dicounts</h1>
{%if discounts|length%}
    <table id="shopping-cart">
        <thead>
            <tr>
                <th>Discount Code</th>
                <th colspan="2">Amount</th>
            </tr>
        </thead>
        <tbody>
            {%for data in discounts%}
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.amount|float * 100}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%else%}
    <p>There are no discounts to be displayed.</p>
    {%endif%}
    <hr/>
    <h1>Delivery Fees</h1>
    {%if delivery|length%}
    <table id="shopping-cart">
        <thead>
            <tr>
                <th>Delivery Location</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for data in delivery%}
            <tr>
                <td>{{data.name}}</td>
                <td>{{"${:,.2f}".format(data.amount)}}</td>       
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%else%}
    <p>There are no Delivery Fees to be displayed.</p>
    {%endif%}
{%endif%}
{%endblock%}