{%extends 'base.html'%}
{%block main%}
<div id="catalogue-grid">
    {%for item in items%}
    <div class="catalogue-item">
        <img src="{{url_for('get_image', filename=item.image)}}" alt={{item.name}} class="catalogue-image">
        <div id= "words">
            <p class="item-name">{{item.name}}</p>
            <p id="price">${{item.cost}}.00</p>
            <p>{{item.description}}</p>
            {%if item.stocklevel>0%}
            <form action="{{url_for('add_to_cart', itemid=item.id)}}" method="POST">
                <div class="form-inline add-to-cart-qnt">
                    <button type="submit" name="submit" class="btn btn-outline-warning">Add to Cart</button>
                    <label for="quantity">Qnt</label>
                    {%if item.stocklevel>10%}
                        <select name="quantity"class="form-control mr-1">
                            {%for q in range(1,quantity+1)%}
                                <option value="{{q}}">{{q}}</option>
                            {%endfor%}
                    </select>
                    {%else%}
                    <select name="quantity"class="form-control mr-1">
                        {%for q in range(1,item.stocklevel+1)%}
                            <option value="{{q}}">{{q}}</option>
                        {%endfor%}
                    </select>
                    <p style="color: red;">Hurry {{item.stocklevel}} items remaining!</p>        
                    {%endif%}
                </div>
            </form>
            {%else%}
                <button type="submit" name="submit" class="btn btn-outline-warning" disabled>Add to Cart</button>
                <p style="color: red;">This item is no longer in stock. We will be restocking shortly</p>
            {%endif%}
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}