<hr/>
<!-- Social icons -->
<div class="social_footer">
    <!-- Social icons -->
  <p>&copy; 2021 Copyright: <a href="{{url_for('home')}}" target="_blank"> ArtixaJa.com </a></p>
  <div class="pb-4">
    <a href="https://www.instagram.com/p/CL5NIseA9BJ/" target="_blank">
      <i class="fab fa-instagram mr-3"></i><img src="{{url_for('static', filename='instagram_logo.png')}}" class="logoig"/>
    </a>
    <p style="font-weight:bold;">@artixaja</p>
  </div>
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">
</div>


