{% extends 'base.html'%}
{%block main%}
<div class="signup">
    <h1>Sign Up</h1>
    <form action="{{url_for('signup')}}" method="POST">
        {{ form.csrf_token }}

        <fieldset class="form-group">
            {{form.firstname.label}}
            {{form.firstname(class='form-control')}}
        </fieldset>
        <fieldset class="form-group">
            {{form.lastname.label}}
            {{form.lastname(class='form-control')}}
        </fieldset>
        <fieldset class="form-group">
            {{form.phoneNumber.label}}
            {{form.phoneNumber(class='form-control')}}
        </fieldset>
        <fieldset class="form-group">
            {{form.username.label}}
            {{form.username(class='form-control')}}
        </fieldset>
        <fieldset class="form-group">
            {{form.password.label}}
            {{form.password(class='form-control')}}
        </fieldset>
        <fieldset class="form-group">
            {{form.email.label}}
            {{form.email(class='form-control')}}
        </fieldset>
        <button type="submit" name="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
{%endblock%}