body {
    padding-top: 5rem;
}

table{border-collapse: collapse;}

.updateimg{
    height: 200px;
    width: 200px;
}

.logoig{
    width:20px;
    height:20px;
}

.social_footer div,.social_footer p{
    display: inline-block;
}

.card{
    width: 350px;
    height: 500px;
    border:1px solid black;
    border-radius:  20px;
}

.inlabel{
    font-weight: bold;
    width: 130px;
}

.inventory_items p{
    display:inline-block;
} 

.buttn{
    display: inline-block;
}

.lowstock{
    color: red;
    font-weight: bold;
}
.addremove{
    width: 50%;
}

.signup{
    width: 40%;
}

.flashes{
    background-color: rgb(255, 255, 136);
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

label{
    font-weight: bold;
}

#image{
    width: 80px;
    height: 80px;
}


.card-text{
    padding: 20px;
}

#cost{
    color: rgb(155, 157, 158);
}

button{
    border-radius: 5px;
    border-style: none;
    height: 40px;
    width: 100px;
    color:white;
    font-size: 15px;
    background-color: rgb(161, 161, 31);
    margin-right: 50px;
}

.all-inventory-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


#update_item{
    width: 80%;
}

.photo_field{
    position: relative;
    width: 100%;
    height: 40%
}

.photo_field img{
    width: 100%;
    height: auto;
}

.photo_field .btn {
    position: absolute;
    bottom:2em;
    right:2em;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    border: none;
    border-radius: 5px;
  }
  
  .photo_field .btn:hover {
    background-color: black;
  }

#cart-img{
    width: 20px;
    height: 20px;
}

#shopping-cart{
    width: auto;
    border: 1px solid rgb(241,205,41);
}

#shopping-cart th, #shopping-cart td {
    padding: 15px;
    box-sizing:border-box;
    border-bottom: 1px solid rgba(255, 237, 155, 0.801);
}

/* #shopping-cart td:last-child { border-bottom: 1px solid rgb(241,205,41); } */
/* #shopping-cart tr:nth-child(even){
    background-color: rgb(240, 240, 150);
} */

/* .shop-checkout .shop-cart, .shop-checkout .checkout-form{
    display: inline-block;
}*/

.shop-checkout{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 40px;
}


.radio-buttons{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bank {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 20px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid rgb(224, 178, 24);
    background-color: rgb(247, 198, 37);
    width:60%;
  }
  
  /* Style the buttons inside the tab */
  .tab input {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab input:hover {
    background-color: rgb(224, 178, 24);
  }
  
  /* Create an active/current tablink class */
  .tab input.active {
    background-color: rgb(224, 178, 24);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(224, 178, 24);
    border-top: none;
    width:60%;
  }

  /* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
  }
  
.topright:hover {color: red;}


.receipt{
    margin: auto;
    background-color: rgb(247, 231, 178);
    padding: 5%;
    width: 60%;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 5px 10px 10px #888888;
}

.receipt h1{
    color: black;
    text-align: center;
}

#discount{
    color: red;
}

.receipt table{
    width: 100%;
}

.receipt td {
    padding-top: 15px;
    padding-bottom:15px;
    border-bottom: 1px solid rgb(255, 223, 117);
}

#catalogue-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.catalogue-item{
    width: 350px;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(243, 243, 242);
    position: relative;
    border: 2px solid rgb(243, 243, 242);
    box-shadow: 2px 2px 2px rgb(218, 218, 216);
}

.catalogue-item p{
    color: rgb(3, 3, 78);
}
.catalogue-image{
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 50%;
}

#words{
    padding:15px;
}

#words form label{
    padding-right: 5px;
}

#words form{
    position:absolute;
    bottom: 30px;
}

.add-to-cart-qnt button{
   background-color: white;
}

#words #price{
    color: rgb(62, 184, 224);
}

.item-name{
    font-weight: 800;
    font-size: larger;
    padding-bottom: 0;
    margin-bottom: 0;
}
 #orders{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
 }

 .order-div{
    border: 1px solid var(--warning);
    position: relative; 
}

.order-div-info{
    padding:10px;
}

.view-order-btn button{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 15%;
    border: none;
    background-color: var(--warning);
    color: white;
    border-radius: 0;
}

.updateButton {
    margin-top: 20px;
    width: 100%;
    /* position:relative; left:90px; top:-55px;  */
}

.updateBar {
    margin-top: 20px;
    width: 50%;
}

.UpdateQtyForm{
    padding: 10px;
}

.itemQty{
    padding: 10px;
}

.progress{
    height: 25px;
    background: #eee;
    border-radius: 20px;
    overflow: visible;
    line-height: 15px;
    margin: 20px 0 40px 0;
}
.progress .progress-bar{
    border-radius: 20px;
    position: relative;
    animation: animate-positive 2s;
}

.progress .progress-value{
    position: absolute;
    top: -19px;
    right: 16px;
    font-size: 13px;
    color: #fff;
    padding: 3px 7px;
    background: #191919;
    border: 1px solid #000;
}

.progress .progress-value:after{
    content: "";
    border-top: 10px solid #191919;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -6px;
    left: 25%;
}
@-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
}

.track-button-input{
    width: 50%;
}

progress::-webkit-progress-value { 
    background: green; 
} 

.orders-select{
    width: 50%;
    display: inline-block;
}

table{
    border-collapse:collapse;
    width: 100%;
}

caption{
    border-top-left-radius:5px ;
    border-top-right-radius: 5px;
    caption-side: top;
    color: black;
    font-weight: bolder;
    background-color: rgb(216, 214, 214);
    text-align: center;
}

.dashboard{
    display:grid;
    grid-template-areas: 
    'sales sales sales expenses expenses expenses'
    'sales-canvas sales-canvas sales-canvas sales-canvas sales-canvas sales-canvas'
    'top-sales top-sales top-sales least-sales least-sales least-sales'
    'top-items top-items top-items least-items least-items least-items'
    'cat-bar cat-bar cat-bar comp-sales comp-sales comp-sales';
    grid-gap: 30px;
    grid-row-gap: 50px;   
}

.sales{grid-area: sales;}
.expenses{grid-area:expenses;}
.sales-canvas{grid-area:sales-canvas;}
.top-sales{grid-area:top-sales;}
.least-sales{grid-area:least-sales;}
.top-items{grid-area: top-items;}
.least-items{grid-area:least-items;}
.cat-bar{grid-area: cat-bar;}
.comp-sales{grid-area:comp-sales;}

.dashboard table{
    background-color: rgb(243, 243, 243);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
}

.dashboard table th,.dashboard table td{
    padding-left: 15px;
    padding-bottom: 15px;
}

.sales, .expenses{
    color: white;
    /* -webkit-text-stroke: 1px rgba(105, 103, 103, 0.788); */
    font-size: 30px;
    border-radius: 5px;
    padding: 10px;
    height: 180px;
    line-height: 150%;
}

.sales{
    background: linear-gradient(45deg, rgb(162, 247, 5), rgb(221, 250, 167),rgb(162, 247, 5));
}

.expenses{
    background: linear-gradient(45deg, rgb(245, 156, 156), rgb(248, 221, 221),rgb(233, 164, 164));
}

.money{
    font-size: 60px;
}

button{
    white-space: normal;
}

.remove{
    color: red;
}

.remove:hover{
    text-decoration: none;
    color: rgb(163, 5, 5);
}

.update{
    color:rgb(245, 186, 23);
}

.update:hover{
    text-decoration: none;
    color: rgb(199, 146, 2);
}
.expense-btn a button{
    margin-bottom: 20px;
}

.categories p, .categories a{
    display: inline-block;
}


.cat_name{
    width: 150px;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'order-num order-num order-num order-num order-num order-num'
    'gen_info gen_info gen_info gen_info gen_info gen_info'
    'cust_det cust_det cust_det payment_stat payment_stat payment_stat'
    'cart-item cart-item cart-item cart-item cart-item cart-item';
    grid-gap: 15px;
}
.order-num{grid-area: order-num;}
.gen_info{grid-area: gen_info;}
.cust_det{grid-area: cust_det;}
.payment_stat{grid-area: payment_stat;}
.cart-item{grid-area: cart-item;}

.grey-outline{
    border: 2px solid rgb(248, 248, 192);
}

.grey-outline h3{
    background-color: rgb(248, 248, 192);
    padding: 10px;
}

.order_info{
    padding: 10px;
}