{%extends 'base.html'%}
{%block main%}
<div>
    {%for item in items%}
    <div>
        <img src="{{url_for('get_image', filename=item.image)}}" alt=item.name>
        <div id= "words">
            <h3>{{item.name}}</h1>
            <p id="price">{{item.cost}}</p>
            <p>{{item.description}}</p>
            <div id="buttons">
                <form action="{{url_for('add_to_cart', itemid=item.id)}}" method="POST">
                    <label for="quantity">Quantity</label>
                    <select name="quantity">
                        {%for q in range(1,quantity+1)%}
                            <option value="{{q}}">{{q}}</option>
                        {%endfor%}
                    </select>
                    <br/>
                    <button type="submit" name="submit">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}